<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <!-- <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <p>Nuestro proyecto forma parte de:</p>
                    <a href="#">
                        <img src="img/logos/cfn.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                  <p>Nuestro socios estratégicos: </p>
                    <a href="#">
                        <img src="img/logos/cloud-services.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center">
                <a href="https://santteegt.github.io/aigents-lab-demo/" class="btn btn-xl">Accede a la plataforma</a>
                <br /><br />
              </div>
            </div>
        </div>
    </aside>
